﻿
@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br /><br /><br /><br /><br />
<section class="team-area section-gap">
    <div class="container">
        <div class="single-footer-widget newsletter">
            <div class="row">
                <div class="col-md-6">
                    <h2>Registro usuario</h2>
                </div>
            </div>
            <div id="mc_embed_signup">
                <form target="_blank" action="" method="get" class="form-inline">
                    <div class="form-group row" style="width: 100%">
                        <div class="col-md-6">
                            <div class="col-lg-8 col-md-10" style=" align-content:">
                                <label> Nombre</label>
                                <input class="inputValidation" id="firstname" style="border-style:solid; border-color:black; border-width:thin">
                            </div>
                            <div class="col-lg-8 col-md-12">
                                <label> Segundo Nombre </label>
                                <input class="inputValidation" id="middlename" style="border-style:solid; border-color:black; border-width:thin">
                            </div>
                            <div class="col-lg-8 col-md-12">
                                <label>Primer Apellido</label>
                                <input class="inputValidation" id="surname" style="border-style:solid; border-color:black; border-width:thin">
                            </div>
                            <div class="col-lg-8 col-md-12">
                                <label>Segundo Apellido</label>
                                <input class="inputValidation" id="secondSurname" style="border-style:solid; border-color:black;border-width:thin">
                            </div>
                            <div class="col-lg-8 col-md-12">
                                <label>Cedula</label>
                                <input class="inputValidation" id="documentId" style="border-style:solid; border-color:black;border-width:thin">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-lg-8 col-md-12">
                                <label>Telefono</label>
                                <input class="inputValidation" id="phone" style="border-style:solid; border-color:black;border-width:thin">
                            </div>
                            <div class="col-lg-8 col-md-12">
                                <label>E-mail</label>
                                <input class="inputValidation" id="email" required="" type="email" style="border-style:solid; border-color:black;border-width:thin">
                            </div>
                            <div class="col-lg-8 col-md-12">
                                <label>Contraseña</label>
                                <input class="inputValidation" id="password" type="password" style="border-style:solid; border-color:black;border-width:thin">
                            </div>
                            <div class="col-lg-8 col-md-12">
                                <label>Repita contraseña</label>
                                <input class="inputValidation" id="password2" onblur="checkPasswords()" type="password" style="border-style:solid ; border-color:black; border-width:thin">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <label style="color:transparent"> a</label>
                        <button id="validate" class="nw-btn primary-btn circle">Registrar <span class="lnr lnr-arrow-right"></span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script>
         $("#header").addClass("header-scrolled");

         $("#validate").on("click", function () {
             if (!checkPasswords() || !validateInputs())
                 return;

             var buttoHtml = $("#validate").html();

             $("#validate").html("<i class='fa fa-refresh fa-spin'></i>");

              $.ajax({
				url: "@Url.Action("RegisterUser")",
                type: "POST",
                data: getProperties(),
                success: function (data) {
                    $("#validate").html(buttoHtml);

                    if (data.toString() == "true") {
                        alert("Usuario Creado con éxito");
                        location.href = "@Url.Action("Index","Login")";
                    }
                    else {
                        alert(data);
                    }
				}
			});
         });

         function getProperties() {
             return {
                 firstName: $("#firstname").val(),
                 middlename: $("#middlename").val(),
                 surname: $("#surname").val(),
                 secondSurname: $("#secondSurname").val(),
                 documentId: $("#documentId").val(),
                 phone: $("#phone").val(),
                 email: $("#email").val(),
                 password: $("#password").val(),
             };
         }

         function checkPasswords() {
             var validPasswords = $("#password").val() == $("#password2").val();

             if (!validPasswords) {
                 $("#password").css("border-color", "red");
                 $("#password2").css("border-color", "red");
             }
             else {
                 $("#password").css("border-color", "black");
                 $("#password2").css("border-color", "black");
             }

             return validPasswords;
        }

        function validateInputs() {
            var valid = true;
            $(".inputValidation").each(function (i, e) {
                if ($(e).val() == "") {
                    valid = false;
                    $(e).css("border-color", "red");
                }
                else {
                    $(e).css("border-color", "black");
                }
            });

            return valid;
        }
    </script>
}
