﻿
@{

    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br /><br /><br />
<section class="team-area section-gap">
    ABOUT
</section>

@section scripts {
    <script>
        $("#header").addClass("header-scrolled");
    </script>
}