﻿@using SGCM.Core.Enums;
@{
    ViewBag.Title = "SGCM";

    bool isUserLogged = Session["user"] != null;
    var userType = Session["userType"] as UserTypes?;
}
<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
            <div class="banner-content col-lg-8 col-md-12">
                <h1>
                    Sistema de Gestion de Citas Médicas
                </h1>
                <p class="pt-10 pb-10 text-white">
                    Comprometidos con mejorar la calidad de vida de nuestros pacientes.
                </p>
                @if (isUserLogged)
                {
                    if (userType.Value == UserTypes.Patient)
                    {
                        <a href="@Url.Action("Index", "Appointment")" class="primary-btn text-uppercase">Ver Citas</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Doctor", "Appointment")" class="primary-btn text-uppercase">Ver Citas</a>
                    }
                }
                else
                {
                    <a href="@Url.Action("Index", "Login")" class="primary-btn text-uppercase">Iniciar Sesión</a>
                }
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start appointment Area -->
@*<section class="appointment-area">
        <div class="container">
            <div class="row justify-content-between align-items-center pb-120 appointment-wrap">
                <div class="col-lg-5 col-md-6 appointment-left">
                    <h1>
                        Servicing Hours
                    </h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.
                    </p>
                    <ul class="time-list">
                        <li class="d-flex justify-content-between">
                            <span>Monday-Friday</span>
                            <span>08.00 am - 10.00 pm</span>
                        </li>
                        <li class="d-flex justify-content-between">
                            <span>Saturday</span>
                            <span>08.00 am - 10.00 pm</span>
                        </li>
                        <li class="d-flex justify-content-between">
                            <span>Sunday</span>
                            <span>08.00 am - 10.00 pm</span>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 appointment-right pt-60 pb-60">
                    <form class="form-wrap" action="#">
                        <h3 class="pb-20 text-center mb-30">Book an Appointment</h3>
                        <input type="text" class="form-control" name="name" placeholder="Patient Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Patient Name'">
                        <input type="text" class="form-control" name="phone" placeholder="Phone " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone'">
                        <input type="email" class="form-control" name="email" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'">
                        <input id="datepicker1" name="dop" class="dates form-control" placeholder="Date of Birth" type="text">
                        <div class="form-select" id="service-select">
                            <select>
                                <option data-display="">Disease Type</option>
                                <option value="1">Type One</option>
                                <option value="2">Type Two</option>
                                <option value="3">Type Three</option>
                                <option value="4">Type Four</option>
                            </select>
                        </div>
                        <input id="datepicker2" class="dates form-control" placeholder="appointment Date" type="text">
                        <textarea name="messege" class="" rows="5" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'"></textarea>
                        <button class="primary-btn text-uppercase">Confirm Booking</button>
                    </form>
                </div>
            </div>
        </div>
    </section>*@
<!-- End appointment Area -->
<!-- Start offered-service Area -->
<section class="offered-service-area section-gap" id="service">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 offered-left">
                <h1 class="text-white">Nuestros Servicios</h1>
                <p>
                    Contamos con un equipo profesional multidisciplinario que brinda servicio personalizado y con calidad.
                </p>
                <div class="service-wrap row">
                    <div class="col-lg-6 col-md-6">
                        <div class="single-service">
                            <div class="thumb">
                                <img class="img-fluid" src="~/Content/img/s1.jpg" alt="">
                            </div>
                            <a href="#">
                                <h4 class="text-white">Misión</h4>
                            </a>
                            <p>
                                Proveer servicios médicos a pacientes oncológicos, brindando soluciones y orientaciones para su condición de salud.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-service">
                            <div class="thumb">
                                <img class="img-fluid" src="~/Content/img/s2.jpg" alt="">
                            </div>
                            <a href="#">
                                <h4 class="text-white">Visión</h4>
                            </a>
                            <p>
                                Ser una institución líder en el área oncológica ofreciendo servicios multidisciplinarios a nivel nacional e internacional.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="offered-right relative">
                    <div class="overlay overlay-bg"></div>
                    <h3 class="relative text-white">Ofrecemos </h3>
                    <ul class="relative dep-list">
                        <li><a href="#">Consultas Médicas</a></li>
                        <li><a href="#">Tratamiento Quimioterapéutico Ambulatorio</a></li>
                        <li><a href="#">Tratamiento Hematológico</a></li>
                        <li><a href="#">Referimiento Tratamientos Radiantes</a></li>
                        <li><a href="#">Cuidados Paliativos y Clínica del Dolor</a></li>
                        <li><a href="#">Provisión de Drogas Oncológicas</a></li>
                        <li><a href="#">Psicoterapia del Paciente Oncológico</a></li>
                        <li><a href="#">Grupo de apoyo al paciente</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End offered-service Area -->
<!-- Start team Area -->
@*<section class="team-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-7">
                    <div class="title text-center">
                        <h1 class="mb-10">Our Consultants</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center d-flex align-items-center">
                <div class="col-lg-3 col-md-6 single-team">
                    <div class="thumb">
                        <img class="img-fluid" src="~/Content/img/t1.jpg" alt="">
                        <div class="align-items-end justify-content-center d-flex">
                            <div class="social-links">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-behance"></i></a>
                            </div>
                            <p>
                                inappropriate behavior
                            </p>
                            <h4>Andy Florence</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 single-team">
                    <div class="thumb">
                        <img class="img-fluid" src="~/Content/img/t2.jpg" alt="">
                        <div class="align-items-end justify-content-center d-flex">
                            <div class="social-links">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-behance"></i></a>
                            </div>
                            <p>
                                inappropriate behavior
                            </p>
                            <h4>Andy Florence</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 single-team">
                    <div class="thumb">
                        <img class="img-fluid" src="~/Content/img/t3.jpg" alt="">
                        <div class="align-items-end justify-content-center d-flex">
                            <div class="social-links">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-behance"></i></a>
                            </div>
                            <p>
                                inappropriate behavior
                            </p>
                            <h4>Andy Florence</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 single-team">
                    <div class="thumb">
                        <img class="img-fluid" src="~/Content/img/t4.jpg" alt="">
                        <div class="align-items-end justify-content-center d-flex">
                            <div class="social-links">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-behance"></i></a>
                            </div>
                            <p>
                                inappropriate behavior
                            </p>
                            <h4>Andy Florence</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End team Area -->
    <!-- Start feedback Area -->
    <section class="feedback-area section-gap relative">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 pb-60 header-text text-center">
                    <h1 class="mb-10 text-white">Enjoy our Client’s Feedback</h1>
                    <p class="text-white">
                        Who are in extremely love with eco friendly system..
                    </p>
                </div>
            </div>
            <div class="row feedback-contents justify-content-center align-items-center">
                <div class="col-lg-6 feedback-left relative d-flex justify-content-center align-items-center">
                    <div class="overlay overlay-bg"></div>
                    <a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img class="img-fluid" src="~/Content/img/play-btn.png" alt=""></a>
                </div>
                <div class="col-lg-6 feedback-right">
                    <div class="active-review-carusel">
                        <div class="single-feedback-carusel">
                            <img src="~/Content/img/r1.png" alt="">
                            <div class="title d-flex flex-row">
                                <h4 class="text-white pb-10">Fannie Rowe</h4>
                                <div class="star">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                            <p class="text-white">
                                Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
                            </p>
                        </div>
                        <div class="single-feedback-carusel">
                            <img src="~/Content/img/r1.png" alt="">
                            <div class="title d-flex flex-row">
                                <h4 class="text-white pb-10">Fannie Rowe</h4>
                                <div class="star">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                            <p class="text-white">
                                Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
                            </p>
                        </div>
                        <div class="single-feedback-carusel">
                            <img src="~/Content/img/r1.png" alt="">
                            <div class="title d-flex flex-row">
                                <h4 class="text-white pb-10">Fannie Rowe</h4>
                                <div class="star">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked	"></span>
                                </div>
                            </div>
                            <p class="text-white">
                                Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End feedback Area -->*@
<!-- Start brands Area -->
<section class="brands-area">
    <div class="container">
        <div class="brand-wrap section-gap">
            <div class="row align-items-center active-brand-carusel justify-content-start no-gutters">
                <div class="col single-brand">
                    <a href="#"><img class="mx-auto" src="~/Content/img/l1.png" alt=""></a>
                </div>
                <div class="col single-brand">
                    <a href="#"><img class="mx-auto" src="~/Content/img/l2.png" alt=""></a>
                </div>
                <div class="col single-brand">
                    <a href="#"><img class="mx-auto" src="~/Content/img/l3.png" alt=""></a>
                </div>
                <div class="col single-brand">
                    <a href="#"><img class="mx-auto" src="~/Content/img/l4.png" alt=""></a>
                </div>
                <div class="col single-brand">
                    <a href="#"><img class="mx-auto" src="~/Content/img/l5.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End brands Area -->
<!-- Start recent-blog Area -->
@*<section class="recent-blog-area section-gap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 pb-60 header-text">
                    <h1>Our Recent Blogs</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="single-recent-blog col-lg-4 col-md-4">
                    <div class="thumb">
                        <img class="f-img img-fluid mx-auto" src="~/Content/img/b1.jpg" alt="">
                    </div>
                    <a href="#">
                        <h4>Portable Fashion for women</h4>
                    </a>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea.
                    </p>
                    <div class="bottom d-flex justify-content-between align-items-center flex-wrap">
                        <div>
                            <img class="img-fluid" src="~/Content/img/user.png" alt="">
                            <a href="#"><span>Mark Wiens</span></a>
                        </div>
                        <div class="meta">
                            13th Dec
                            <span class="lnr lnr-heart"></span> 15
                            <span class="lnr lnr-bubble"></span> 04
                        </div>
                    </div>
                </div>
                <div class="single-recent-blog col-lg-4 col-md-4">
                    <div class="thumb">
                        <img class="f-img img-fluid mx-auto" src="~/Content/img/b2.jpg" alt="">
                    </div>
                    <a href="#">
                        <h4>Summer ware are coming</h4>
                    </a>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea.
                    </p>
                    <div class="bottom d-flex justify-content-between align-items-center flex-wrap">
                        <div>
                            <img class="img-fluid" src="~/Content/img/user.png" alt="">
                            <a href="#"><span>Mark Wiens</span></a>
                        </div>
                        <div class="meta">
                            13th Dec
                            <span class="lnr lnr-heart"></span> 15
                            <span class="lnr lnr-bubble"></span> 04
                        </div>
                    </div>
                </div>
                <div class="single-recent-blog col-lg-4 col-md-4">
                    <div class="thumb">
                        <img class="f-img img-fluid mx-auto" src="~/Content/img/b3.jpg" alt="">
                    </div>
                    <a href="#">
                        <h4>Summer ware are coming</h4>
                    </a>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea.
                    </p>
                    <div class="bottom d-flex justify-content-between align-items-center flex-wrap">
                        <div>
                            <img class="img-fluid" src="~/Content/img/user.png" alt="">
                            <a href="#"><span>Mark Wiens</span></a>
                        </div>
                        <div class="meta">
                            13th Dec
                            <span class="lnr lnr-heart"></span> 15
                            <span class="lnr lnr-bubble"></span> 04
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<!-- end recent-blog Area -->
