﻿@using SGCM.Core.Enums;
@{ 
    var usserLogged = Session["user"] != null;

    var userType = Session["userType"] as UserTypes?;
}
<div class="container main-menu">
    <div class="row align-items-center justify-content-between d-flex">
        <div id="logo">
            <a href="@Url.Action("Index", "Home")"><h3 style="color: white; text-decoration: none;">SGCM</h3></a>
        </div>
        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li><a href="@Url.Action("Index", "Home")#home">Inicio</a></li>
                <li><a href="@Url.Action("Index", "Home")#service">Servicios</a></li>
                <li><a href="@Url.Action("Index", "Home")#footer">Contacto</a></li>

                @if (!usserLogged)
                {
                    <li><a href="@Url.Action("Index", "Login")">Login</a></li>
                }
                else
                {
                    if (userType.Value == UserTypes.Patient)
                    {
                        <li><a href="@Url.Action("Index", "Appointment")">Citas</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Doctor", "Appointment")">Citas</a></li>
                    }
                    <li><a href="@Url.Action("LogOut", "Login")">Salir</a></li>
                }


                @*<li class="menu-has-children">
            <a href="">Blog</a>
            <ul>
                <li><a href="blog-home.html">Blog Home</a></li>
                <li><a href="blog-single.html">Blog Single</a></li>
            </ul>
        </li>*@

            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</div>