﻿@model SGCM.Web.Models.ViewModels.AppointmentVM
@using SGCM.Core.Extensions;
@{
    int count = 1;
}
Citas para <h4> @Model.Date.ToString("dd/MM/yyyy")</h4>

@if (Model.Appointments.Any())
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Desde</th>
                <th>Hasta</th>
                <th>Estado</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Appointments)
            {
                <tr>
                    <td>@count</td>
                    <td>@item.FromDate.ToReadableTime()</td>
                    <td>@item.ToDate.ToReadableTime()</td>
                    <td>Ocupado</td>
                    <td></td>
                </tr>

                count++;
            }
            <tr>
                <td>@count</td>
                <td>@Model.Appointments.Last().ToDate.ToReadableTime()</td>
                <td></td>
                <td>Disponible</td>
                <td><button data-toggle="modal" data-target="#modalConfirm" class="btn btn-sm btn-info">Crear Cita</button></td>
            </tr>
        </tbody>
    </table>

}
else
{
    <h5>No hay citas</h5>
    <button data-toggle="modal" data-target="#modalConfirm" class="btn btn-sm btn-info">Crear Cita</button>
}

<div id="modalConfirm" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <select id="service">
                            @foreach (var item in Model.Services)
                            {
                                <option value="@item.ServiceId">@item.ServiceName</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="saveAppointment" type="button" class="btn btn-success btn-sm">Crear Cita</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#saveAppointment").on("click", function () {
        var service = $("#service").val();
        var day = "@Model.Date.Day";

        var element = $(this);
        var html = $(element).html();
        $(element).html('<i class="fa fa-spinner fa-spin"></i>');

        saveAppointment(service, day, function () { $(element).html(html) })
    });
</script>