﻿@model IEnumerable<SGCM.Core.Models.Schedule>
@using SGCM.Core.Extensions;
<style>
    .ocupped {
        background-color: red;
    }

    .available {
        background-color: #beffc0;
        cursor: pointer;
    }

    .available:hover {
        background-color: #8fff93;
    }

    .available:active {
        border: double;
    }
</style>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Lunes</th>
            <th scope="col">Martes</th>
            <th scope="col">Miércoles</th>
            <th scope="col">Jueves</th>
            <th scope="col">Viernes</th>
            <th scope="col">Sábado</th>
            <th scope="col">Domingo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th class="@(item.IsWorkingMonday.GetCssClass())">@item.Monday.GetDay()</th>
                <th class="@(item.IsWorkingTuesday.GetCssClass())">@item.Tuesday.GetDay()</th>
                <th class="@(item.IsWorkingWednesday.GetCssClass())">@item.Wednesday.GetDay()</th>
                <th class="@(item.IsWorkingThursday.GetCssClass())">@item.Thursday.GetDay()</th>
                <th class="@(item.IsWorkingFriday.GetCssClass())">@item.Friday.GetDay()</th>
                <th class="@(item.IsWorkingSaturday.GetCssClass())">@item.Saturday.GetDay()</th>
                <th class="@(item.IsWorkingSunday.GetCssClass())">@item.Sunday.GetDay()</th>
            </tr>
        }

    </tbody>
</table>
<script>
    $(".available").on("click", function () {
        var element = $(this);
        var day = $(element).html();
        $(element).html('<i class="fa fa-spinner fa-spin"></i>');

        openModal(day, function () { $(element).html(day) });
    });
</script>
