﻿
@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br /><br /><br />

<section>
    <div class="container">
        <h2>@ViewBag.Message</h2>
    </div>
</section>


@section scripts {
    <script>
        $("#header").addClass("header-scrolled");
    </script>
}