﻿@model SGCM.Web.Models.ViewModels.AppointmentCreateVM
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br /><br /><br />

<section>
    <div class="container">
        <h2>Crear Citas</h2>

        <div class="row">
            <div class="col-lg-4">
                <label>Doctor:</label>
                <select id="units">
                    @foreach (var item in Model.ServiceUnits)
                    {
                        <option value="@item.UnitId">@item.UnitDetail</option>
                    }
                </select>
            </div>
            <div class="col-lg-2">
                <label>Año:</label>
                <select id="years">
                    @foreach (var item in Model.Years)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
            <div class="col-lg-4">
                <label>Mes:</label>
                <select id="months">
                    @foreach (var item in Model.Months)
                    {
                        string selected = (int)item == DateTime.Now.Month ? "selected" : "";

                        <option value="@((int)item)" @selected>@item</option>
                    }
                </select>
            </div>

        </div>
        <div style="margin-top: 15px;" id="result"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
</section>

<!-- Modal Appointment Create-->
<div id="modalCita" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div id="modalResults">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $("#header").addClass("header-scrolled");

        $("#units,#months,#years").on("change", update);

        update();

        function update() {
            var unitId = $("#units").val();
            var month = $("#months").val();
            var year = $("#years").val();

            $("#result").html('<i class="fa fa-spinner fa-spin"></i>');

            $.ajax({
				url: "@Url.Action("BuildSchedule")",
                type: "GET",
                data: { unitId: unitId, year: year, month: month },
                success: function (data) {
                    $("#result").html(data);
				}
			});
        }

        function createAppointment(day, callback) {
            var month = $("#months").val();
            var year = $("#years").val();
            var unitId = $("#units").val();

            $.ajax({
				url: "@Url.Action("AppointmentDetail")",
                type: "POST",
                data: { unitId: unitId, year: year, month: month, day: day },
                success: function (data) {
                    $("#modalResults").html(data);
                    $("#modalCita").modal("show");
                    callback();
				}
			});
        }

        function saveAppointment(serviceId, day, callback) {
            var month = $("#months").val();
            var year = $("#years").val();
            var unitId = $("#units").val();

            $.ajax({
				url: "@Url.Action("CreateAppointment")",
                type: "POST",
                data: {
                    unitId: unitId,
                    year: year,
                    month: month,
                    day: day,
                    serviceId: serviceId
                },
                success: function (data) {
                    if (data.toString() == "true") {
                        alert("Cita creada");
                        location.href = "@Url.Action("Index","Appointment")";
                    }
                    else
                    {
                        alert(data);
                    }
                    callback();
				}
			});
        }

        function openModal(day, callback) {
            var month = $("#months").val();
            var year = $("#years").val();
            var unitId = $("#units").val();

            $.ajax({
				url: "@Url.Action("AppointmentDetail")",
                type: "POST",
                data: { unitId: unitId, year: year, month: month, day: day },
                success: function (data) {
                    $("#modalResults").html(data);
                    $("#modalCita").modal("show");
                    callback();
				}
			});
        }
    </script>
}
