﻿@model IEnumerable<SGCM.Core.Models.ScheduleDay>
@using SGCM.Core.Extensions;
@{
    ViewBag.Title = "Citas Pendientes";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int count = 1;
}
<br /><br /><br /><br /><br />
<section>
    @if (!Model.Any())
    {
        <h4>No hay Citas Pendientes</h4>
    }
    else
    {
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Citas Pendientes</h2>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Consultorio</th>
                        <th scope="col">Paciente</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Servicio</th>
                        <th scope="col">Confirmada</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@count</th>
                            <td>@item.Date.ToReadableDate()</td>
                            <td>@item.FromDate.Value.ToReadableTime()</td>
                            <td>@item.DoctorUnitName</td>
                            <td>@item.PatientName</td>
                            <td>@item.PatientPhone</td>
                            <td>@item.ServiceName</td>
                            <td>@item.IsConfirmed.ToReadableString()</td>
                        </tr>

                        count++;
                    }
                </tbody>
            </table>
        </div>
    }
</section>

@section scripts {
    <script>
        $("#header").addClass("header-scrolled");
    </script>
}

