﻿@model IEnumerable<SGCM.Core.Models.ScheduleDay>
@using SGCM.Core.Extensions;
@{
    ViewBag.Title = "Citas";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int count = 1;

    bool showAll = ViewBag.Pendings;
}

<br /><br /><br /><br /><br />
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                @if (showAll)
                {
                    <h2>Citas Pendientes</h2>
                }
                else
                {
                    <h2>Todas las citas</h2>
                }
            </div>
            <div class="col-md-3">
                <a style="color:white" href="@Url.Action("Create")" class="btn btn-sm btn-success">Crear Cita</a>
            </div>
            @if (showAll)
            {
                <div class="col-md-3">
                    <a style="color:white" href="@Url.Action("Index", new { pendings = false  })" class="btn btn-sm btn-info">Mostrar todo</a>
                </div>
            }
        </div>
        <div style="margin-top: 15px; margin-bottom: 15px;">
            @if (Model.Any())
            {
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Hora</th>
                            <th scope="col">Consultorio</th>
                            <th scope="col">Servicio</th>
                            <th scope="col">Confirmada</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@count</th>
                                <td>@item.Date.ToReadableDate()</td>
                                <td>@item.FromDate.Value.TimeOfDay</td>
                                <td>@item.DoctorUnitName</td>
                                <td>@item.ServiceName</td>
                                <td>@item.IsConfirmed.ToReadableString()</td>
                            </tr>

                            count++;
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h4>No hay citas</h4>
            }
        </div>
    </div>
</section>

@section scripts {
    <script>
        $("#header").addClass("header-scrolled");
    </script>
}